* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh; /* adjust for your header height */
}


@font-face {
    font-family: 'Test3';
    src: url(Fonts/Colombia-Rp0DV.ttf) format('truetype');
}
@font-face {
    font-family: 'Orbitron';
    src: url(Fonts/Orbitron-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Avenir';
    src: url(Fonts/Avenir\ Next\ LT\ Pro\ Regular.otf) format('truetype');
}


body {
    background-color: rgb(36, 48, 34);
    font-family: Avenir;
}

main {
    padding-top: 0vh;
    color: rgb(233, 238, 255);
}

.headerBox {
    width: 100%;
    height: 6vh;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 48, 27, 0.858);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 0px 3px black;
}


.myName {
    font-size: 3vh;
    padding: 4vh;
    padding-left: 2vw;
}

/* DROP-DOWN MENU --------------------------------- */
.dropDownMenu {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 12vw;
}

.dropBtn {
    background-color: rgb(83, 99, 83);
    position: absolute;
    right: 0;
    width: 4vh;
    height: 4vh;
    margin: 8px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    z-index: 2;
    border-radius: 5px;
}

.dropDownContent {
    display: none;
    position: absolute;
    padding-top: 7vh;
    padding-bottom: 3vh;
    background-color: rgba(24, 36, 23, 0.951);
    width: 12vw;
    font-size: clamp(25px, 3vw, 30px);
    text-align: center;
    border-bottom-left-radius: 50px;
    box-shadow:0px 0px 10px black;
}

.dropDownContent:hover
{
    display: block;
}

.dropDownMenu:hover .dropDownContent
{
    display: block;
}

.dropDownContent a {
    color:  rgb(233, 238, 255);
    display: block;
    padding: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.dropDownContent a:hover {
    background-color: rgba(83, 99, 83, 0.845);
}


.show {display:block;}


@media (max-width: 1024px) {
    .dropDownMenu {
        width: 25vw;
    }

    .dropDownContent {
        width: 25vw;
        font-size: clamp(15px, 4vw, 50px);

    }
}

/* WELCOME SECTION --------------------------------- */
.welcomeBox {
    padding: 5vw;
    padding-top: calc(10vh + 10vw);
    padding-bottom: 12vw;
    width: 100%;
    text-align: center;
    color:rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(36, 48, 34) 100%),
        url('Images/websitePic.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 3vh;
}

.welcomeMessage {
    background-color: rgba(20, 40, 19, 0.562);
    
}
.welcomeText {
    font-size: clamp(25px, 4vw, 40px);
}

.portfolioFocusText {
    padding-top: 0vh;
    font-size: clamp(40px, 10vw, 90px);
    color: rgb(224, 224, 224);
}

.portfolioTextUnderline {
    height: 2px;
    background-color: rgb(208, 191, 199);
    margin: 1px auto;
    width: 100%;

}



/* PORTFOLIO SECTION --------------------------------- */
.portfolioHeading {
    padding-left: 2vw;
    font-size: clamp(30px, 7vw, 50px);
}

.portfolioContainer {
    background-color: rgba(53, 69, 50, 0.489);
    width: 96vw;
    height: 100%;
    margin: 0 auto;
    padding: 2vh 2vw;
    
}

.portfolioIntroText {
    font-size: clamp(20px, 4vw, 30px);
    padding: 0;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    max-width: 150em;
    gap: 20px;
    margin-top: 3vh;
}

@media (max-width: 1024px) {
  .projectGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.project {
    width: 100%;
    padding: 10px;
}

.project:hover
{
    background-color: rgba(29, 48, 27, 0.858);
    scale: 105%;

}

.projectLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.projectBox {
    width: 100%;
    aspect-ratio: 1 / 0.7;
    padding: 1%;
    background-color: rgb(59, 92, 67);
}

.videoContainer {
    width: 100%;
    aspect-ratio: 1 / 0.7;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.YTNoInteract {
    pointer-events: none;
}
.infoBanner {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    padding: 2% 5%;
    font-size: clamp(5px, 3vw, 20px);
    background-color: rgba(6, 6, 6, 0.585);
    color:rgb(254, 254, 248);
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.icons {
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.gameName {
    font-size: clamp(20px, 5vw, 40px);
    padding: 0% 2%;
}

.projectKeyPoints {
    font-size: clamp(15px, 3vw, 25px);
    padding: 10px 10px 10px 25px;

}


/* ABOUT ME SECTION --------------------------------- */

.aboutMeContainer {
    background-color: rgb(58, 74, 51);
    width: 96vw;
    margin: 1vw auto;
    padding: 2vw 1vw 0 0;
}

.aboutMeHeading {
    font-size: clamp(25px, 6vw, 45px);
    margin-bottom: 10px;
    padding-left: 2vw;
}

.aboutMeContent {
    display: flex;
    width: 100%;
   padding: 2vw;
}

.picOfMe {
    width: 30%;
    height: auto;
    object-fit: contain;
    margin-right: 1vw;
}

@media screen and (max-width: 1024px) {
    .aboutMeContent {
        flex-direction: column;
        align-items: center;
    }

    .picOfMe {
        width: 40%;
        object-fit: cover;
        margin-bottom: 1vw;
    }

    .aboutMeHeading {
        text-align: center;
        padding: 0;
    }
}



.aboutMeInfo {
    font-size: clamp(20px, 3vw, 30px);
    line-height: 1.4;
}

.aboutMeInfo p {
    margin-bottom: 5vh;
}

.footerBox {
    height: 12vh;
    background-color: rgba(40, 53, 37, 0.489);
    padding: 1.5vh;
    display: block;
    align-items: center;
    text-align: center;
    bottom: 0;
}

.SocialsBox
{
    width: 100%;
    padding: 1vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    bottom: 0;
}
.footerBox a {
    color: white;
    text-decoration: none;
}

.footerIcon {
    width: 4.5vh;
    height: auto;
    vertical-align: middle;
    margin: 0px 50px;
}

.footerText {
    display: block;
    text-align: center;
    width: 100%;
    font-size: clamp(15px, 3.5vw, 30px);
}

.footerIcon:hover
{
    scale: 110%;
    
}


/* ---- Project Pages ------------------------- */

.main {
     padding-top: 6vh;
}


.backButton {
    background-color:rgb(29, 48, 27);
    color: white;
    font-weight: bold;
    font-size: clamp(30px, 2vw, 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(50px, 5vw, 70px);
    height: clamp(30px, 2vw, 50px);
    border-radius: 50px;
    margin: 10px;
}

.backButton:hover
{
        background-color:rgb(57, 94, 53);
        scale: 110%;
}

.gameIntro {
    padding: 3vw;
    background-color: rgb(35, 44, 37); /* change this per game page */
    background-size: cover;
    font-size: clamp(20px, 2.5vw, 30px);
    color: white;
}

.projectPageHeading {
    font-size: clamp(50px, 3vw, 70px);
    background-color: rgb(58, 74, 51);
    border-radius: 50px;
    padding: 10px 20vw 10px 20px;
    margin-top: 3vh;
    width: fit-content;
}


.gameIntroContent {
    padding-left: 1vw;
    padding-top: 1vh;
}

.gameIntroContent .trailerContainerWrapper {
    width: 80vw;
    max-width: 5000px;
    margin: 3vh 0;
}

.gameIntroContent .trailerContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.gameIntroContent iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.gameInfoContainer {
    font-size: clamp(20px, 2.5vw, 30px);
}

.projectPageSubHeading {
    font-weight: bolder;
    width: 50vw;
    border-radius: 0 50px 50px 0;
    padding: 1vw;
    margin-bottom:1vw;
}

.subheadingDetails {
    background-color: rgb(35, 44, 37);
}

.subheadingMechanics {
    background-color: rgb(58, 74, 51);
}

.gameDetails {
    background-color: rgb(58, 74, 51);
    padding: 3vw;
}
.gameDetails ul{
    padding-left: 2.5vw;
}

.gameMechanics {
    background-color:rgb(35, 44, 37);
    padding: 3vw;
}

.mechanicHeading {
    font-size: clamp(20px, 2vw, 40px);
    font-weight: bold;
    margin-top: 10vh;
    padding: 5px 5px 5px 15px;
    background-color: rgba(17, 29, 19, 0.728);
    border-radius: 20px;

}


.mechanicSubheading {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1vh;
}

.mechanicSubSection {
    margin-bottom: 8vh;

}

.mechanicImages {
    max-width: 70vw;
    max-height: 50vh;
    margin: 2vh 0;
}

.mechanicVideos {
    max-height: 50vh; 
    max-width: 70vw;
    width: auto;
    margin: 2vh auto;
}

.mediaRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    .projectPageHeading {
        font-size: clamp(30px, 3vw, 70px);
    }
    
    .gameIntroContent .trailerContainerWrapper {
    width: 90vw;
    max-width: 5000px;
    margin: 3vh 0;
    }

    .mechanicHeading {
    font-size: clamp(20px, 2vw, 40px);
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 2vh;
    }

    .mechanicImages{
        max-width: 92vw;
    }
    
    .projectPageSubHeading {
        width: 90vw;
    }
}


.techVideoContainer {
    position: relative;
    width: 93vw;
    background-color: antiquewhite;
    height: 35vw;
  
}

.techVideoContainer iframe {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
