* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(25, 33, 25);
}

main {
    padding-top: 0vh;
    color: rgb(233, 238, 255);
}

.headerBox {
    width: 100%;
    height: 10vh;
    color: rgb(255, 255, 255);
    background-color: rgba(24, 36, 23, 0.814);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}


@font-face {
    font-family: 'Test3';
    src: url(Fonts/Colombia-Rp0DV.ttf) format('truetype');
}
@font-face {
    font-family: 'Orbitron';
    src: url(Fonts/Orbitron-VariableFont_wght.ttf) format('truetype');
}

.myName {
    font-size: 4vh;
    padding: 4vh;
    padding-left: 2vw;
}


.welcomeBox {
    padding: 5vw;
    padding-top: calc(10vh + 10vw);
    padding-bottom: 12vw;
    width: 100%;
    text-align: center;
    color:rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(25,33,25) 100%),
        url('Images/websitePic.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 3vh;
}

.welcomeMessage {
    background-color: rgba(24, 36, 23, 0.562);
    
}
.welcomeText {
    font-size: clamp(30px, 5vw, 40px);
}

.portfolioFocusText {
    padding-top: 0vh;
    font-size: clamp(40px, 10vw, 90px);
    color: rgb(224, 224, 224);
}

.portfolioTextUnderline {
    height: 2px;
    background-color: rgb(208, 191, 199);
    margin: 1px auto;
    width: 100%;

}

.portfolioHeading {
    padding-left: 2vw;
    font-size: clamp(30px, 7vw, 50px);
}

.portfolioContainer {
    background-color: rgba(56, 66, 54, 0.489);
    width: 96vw;
    height: 100vh;
    margin: 0 auto;
    padding-left: 0.5vw;
}

.portfolioIntroText {
    font-size: clamp(20px, 4vw, 30px);
    padding: 0;

    
}